


.wesh{
	   background-color:#bdc9ea;
	   border-radius:16px;

}

.progress

         {
         	background-color:blue;
	        border-radius:16px;
	      
   
	      
       

         }